body {
  margin: 0;
  line-height: normal;
}
.creative-developer-b {
  position: absolute;
  top: 85px;
  left: 26px;
  font-size: 85px;
  display: inline-block;
  width: 601px;
  height: 195px;
}
.riyansh-p {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.jain-p {
  margin: 0;
}
.riyansh-jain-b {
  position: absolute;
  top: 588px;
  left: 1027px;
  font-size: 85px;
  display: inline-block;
  width: 413px;
  height: 225px;
}
.studying-at-poornima-universit3 {
  position: absolute;
  top: 8px;
  left: 331px;
  display: inline-block;
}
.arrow-icon2 {
  position: absolute;
  top: 621px;
  left: 14.95px;
  width: 22.09px;
  height: 61.5px;
}
.ui-span {
  text-decoration: underline;
}
.cloud-computing-student-who-lo,
.riyansh-jain-creative-develope2,
.twitter-div3 {
  position: absolute;
  top: 617px;
  left: 60px;
  font-size: 24px;
  display: inline-block;
}
.riyansh-jain-creative-develope2,
.twitter-div3 {
  top: 3820px;
  left: 14px;
  font-weight: 600;
}
.twitter-div3 {
  top: 3851px;
  left: 504px;
  cursor: pointer;
}
.instagram-div3 {
  top: 3851px;
  left: 649px;
  width: 143px;
  height: 32px;
}
.developed-and-designed-by-riya2,
.instagram-div3,
.lindekin-div3 {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
}
.lindekin-div3 {
  top: 3851px;
  left: 831px;
  cursor: pointer;
}
.developed-and-designed-by-riya2 {
  top: 3826px;
  left: 1116px;
}
.development-and-software-deve {
  margin-block-start: 0;
  margin-block-end: 0;
}
.i-am-a-to-be-cloud-engineer-wi2 {
  position: absolute;
  top: 845px;
  left: 355px;
  font-size: 36px;
  font-weight: 600;
  display: inline-block;
}
.i-have-taken-multiple-leadersh,
.more-about-me-and-services,
.this-website-provides-an-overv {
  position: absolute;
  top: 875px;
  left: 355px;
  font-size: 36px;
  font-weight: 600;
  display: inline-block;
}
.i-have-taken-multiple-leadersh,
.more-about-me-and-services {
  top: 1050px;
  font-size: 24px;
  position: absolute;
  top: 900px;
  left: 355px;
  
  font-weight: 600;
  display: inline-block;
}
.more-about-me-and-services {
  top: 1463px;
  text-decoration: underline;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  right: 450px;
}
.div10,
.div11,
.div12,
.div9,
.want-to-work-together2 {
  position: absolute;
  top: 829px;
  left: 11px;
  font-weight: 600;
  display: inline-block;
}
.div10,
.div11,
.div12,
.want-to-work-together2 {
  top: 1610px;
  left: 14px;
}
.div11,
.div12,
.want-to-work-together2 {
  top: 2391px;
}
.div12,
.want-to-work-together2 {
  top: 3329px;
}
.want-to-work-together2 {
  left: 329px;
}
.creative-development-div1,
.recent-projects-div1,
.send-me-a-message3 {
  position: absolute;
  top: 3329px;
  left: 898px;
  font-weight: 600;
  display: inline-block;
}
.creative-development-div1,
.recent-projects-div1 {
  top: 1610px;
  left: 424px;
  font-size: 24px;
}
.creative-development-div1 {
  left: 1079px;
}
.connectto-riyanshgamil-com3,
.encryp-decryp-b,
.whiteboard1 {
  position: absolute;
  left: 14px;
  font-size: 85px;
  display: inline-block;
}
.whiteboard1 {
  top: 1475px;
  width: 612px;
  height: 156px;
  left: -875px;
  
}
.connectto-riyanshgamil-com3,
.encryp-decryp-b {
  top: 2554px;
  left: 10px;
}
.connectto-riyanshgamil-com3 {
  top: 3427px;
  cursor: pointer;
}

.the-idea-of-an-online-whiteboa1 {
  position: absolute;
  top: 1350px;
  left: 130px;
  font-size: 24px;
  display: inline-block;
}
.encryption-is-the-process-of-t1 {
  top: 2200px;
  right: 325px;
  white-space: pre-wrap;
  position: absolute;
  font-size: 24px;
  display: inline-block;
}
.arrow-icon3 {
  position: absolute;
  top: 3488px;
  left: 1316.18px;
  width: 73.64px;
  height: 205px;
  cursor: pointer;
}
.photo-1-1,
.photo-2-2 {
  position: absolute;
  top: 300px;
  left: 26px;
  width: 380px;
  height: 285px;
  object-fit: cover;
}
.photo-2-2 {
  left: 1037px;
}
.encryp-1-icon1,
.whiteboard-1-icon1 {
  position: absolute;
  top: 2010px;
  left: 574px;
  width: 800px;
  height: 449.38px;
  object-fit: cover;
}
.encryp-1-icon1 {
  top: 2752px;
  left: 774px;
  width: 400px;
  height: 423.4px;
}
.contact-div4 {
  position: fixed;
  top: 8px;
  left: 1291px;
  display: inline-block;
  cursor: pointer;
}
.about-div4 {
  position: fixed;
  left: 1192px;
  cursor: pointer;
  text-decoration: none;
}
.about-div4,
.home-div3,
.riyansh-jain-div3,
.work-div4 {
  position: fixed;
  top: 8px;
  display: inline-block;
  text-decoration: none;
}
.work-div4 {
  left: 1103px;
  cursor: pointer;
}
.home-div3,
.riyansh-jain-div3 {
  left: 31px;
}
.home-div3 {
  left: 1013px;
  text-decoration: underline;
}
.main-page1-div {
  position: relative;
  background-color: #c7c7c7;
  width: 100%;
  height: 3905px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Red Hat Text";
}
.reveal{
  position: relative;
  transform: translateY(0px);
  opacity: 0;
  transition: all 1s ease;
  align-items: flex-start;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
.cover{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;

}
.transition.slide .cover1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.3s ease-in-out forwards;
}
.transition.slide .cover2{
  background-color: rgb(47, 47, 47);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transition.slide  .cover3{
  background-color: rgb(67, 67, 67);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}
.cove{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transitio.slide .cove1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.3s ease-in-out forwards;
}
.transitio.slide .cove2{
  background-color: rgb(47, 47, 47);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transitio.slide  .cove3{
  background-color: rgb(67, 67, 67);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}
.cove{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transiti.slide .cov1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.9s ease-in-out forwards;
}

@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}